
body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html			{ font: 10px verdana; }
body			{ margin: 0px; padding: 0px; background: #060606; font-size: 100%; overflow: auto; }

#main			{ width: 100%; height: 40px; background: #222; color: #dddddd;
	> *			{ display: inline-block; xvertical-align: baseline; }
	h1, span, #charts :first-child
				{ height: 20px; margin: 0px; padding: 10px 20px; font-size: 150%; }
	h1			{ width: 180px; background: #444; color: #f6f6f6; font-size: 160%; }
	a			{ color: #dddddd; font-weight: bold; text-decoration: none; }
	a:hover,
	a:focus		{ color: #fff; text-decoration: underline; outline: none; }

	#charts		{ position: absolute; top: 0; right: 0; width: 140px; height: 40px; overflow: hidden;
		&:hover { overflow: visible; }
		.active	{ background: #444; color: #fff; }
		:hover	{ background: #fff; color: #111; cursor: pointer; }
		div		{ width: 370px; height: 15px; padding: 2px 5px; position: relative; left: -240px; font-size: 120%; background: #222; }
		:first-child
				{ width: 100px; left: 0px; background: #444; color: #ddd; cursor: default; text-align: center; }
	}
}

#canvas			{ margin: 0px; padding: 0px; background: #060606; }

@media (max-width: 860px) {
	#main span	{ font-size: 120%; }
}
@media (max-width: 760px) {
	#main		{ height: 80px; }
	#main h1	{ width: auto; display: block; }
	#main span	{ font-size: 150%; }
}
@media (max-width: 599px) {
	#main span	{ font-size: 120%; padding-top: 12px; }
}
